<h1>Enter a book title</h1>
<%= form_tag "/validate" do %>
<%= text_field_tag :booksearch,nil, placeholder: 'Find a new book' %>
<%= submit_tag "Find", :name => nil, class: "btn btn-default" %>
<% end %>
