<h1>BSc in Computing</h1>
<h2>Cloud Application Development <br />
Project Description</h2>
The  aim  of  this  project  is  to   design,  develop,  and  deploy  a  web  application.  You  are
required  to  submit  a  single ZIP archive  containing  your  code, the links to  the  deployed
versions,  as well  as  a  PDF  report  explaining  your  idea,  the  features  implemented,  and
the justification behind your choice of the deployment platform.
<h2>Application Requirement [45 %]</h2>
Your application  will  be  coded using  Ruby  on  Rails 3.  You are required  to demonstrate
that  you  understand  how  the  framework  operates  by  utilising  the built  in  features  when
completing your project.
The site must, at least, tick the following boxes :
<ul>
<li>Comprehensible goal</li>
Your application must have a concrete goal
It doesn’t need to be innovative or unique
<li>Correct use of Ruby on Rails</li>
The code must be written in the appropriate files
Code must be reused and not copied
Associations, filters, and other components should be used when needed
<li>Initialization</li>
Your database should be generated and filled with the rake command
rake db:migrate
rake db:seed
<li>User accounts</li>
Users should be able to register, login, and logout
User permissions should limit who is allowed to alter content on the site
Views must reflect the current state, and the rights the users have
<li>Error handling</li>
Missing pages and server errors should present custom error messages
403, 404, 500
<li>Gems</li>
Two gems must be implemented
You must build one custom gem
</ul>
<h2>Deployment Requirement [10 %]</h2>
<p>
Your  application  must  be  deployed,  and  fully  operational  on  a  single  cloud  platform  of
your  choosing.  It   can  be  a  platform as a service  or  an  infrastructure as a  service. Your
decision will need  to be justified in the documentation submitted along with a link to your
deployed  application.  Your  custom  GEM  that  you  create  should  be  deployed  to
RubyGems.</p>
<h2>Document Requirement [45 %]</h2>
Your are required to write a ten page document covering the four main topics  described
below. Feel free to use the template given by the lecturer.
<ul>
<li>The idea</li>
What is your product ?
Who would be interested by it ?
<li>The database</li>
What information are you storing ?<br />
Is there any associations between the tables ?
<li>The code</li>
What can your application do ?
<li>The deployment</li>
Where could your application be deployed ?<br />
What service did you pick and why ?
 </ul>
 <p>
<strong>All  work must  be your  own. Any external resources like examples, and tutorials
must be referenced in your documentation.</strong>
</p> 

